In [1]:
import pandas as pd
import warnings

warnings.filterwarnings('ignore')

pd.set_option('display.max_rows', 30000)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

# 1. EDA

In [3]:
df_train = pd.read_csv("./data/train.csv")
print(df_train.shape)
df_train.tail(5)

(4617600, 4)

               date  store_nbr  item_nbr  units
4617595  2014-10-31         45       107      0
4617596  2014-10-31         45       108      0
4617597  2014-10-31         45       109      0
4617598  2014-10-31         45       110      0
4617599  2014-10-31         45       111      0

In [7]:
df_wal_weather = pd.read_csv("./data/weather.csv")
print(df_wal_weather.shape)
df_wal_weather.tail(5)

(20517, 20)

       station_nbr        date tmax tmin tavg depart dewpoint wetbulb heat cool sunrise sunset codesum snowfall preciptotal stnpressure sealevel resultspeed resultdir avgspeed
20512           16  2014-10-31   53   34   44      M       35      41   21    0       -      -                M        0.00       29.90    29.99         4.5        03      5.3
20513           17  2014-10-31   59   34   47      M       32      41   18    0       -      -      RA      0.0        0.00       29.72    30.39         9.2        01      9.3
20514           18  2014-10-31   67   49   58     -4       40      50    7    0    0644   1738              0.0        0.00       29.78    30.28        10.6        36     11.2
20515           19  2014-10-31   45   33   39     -6       24      32   26    0    0624   1646   RA SN      0.1        0.02       29.51    30.24        20.4        34     20.9
20516           20  2014-10-31   68   50   59      M       39      50    6    0       -      -              0.0        0.00       29.57    30.27        10.5        36     11.2

In [8]:
df_test = pd.read_csv("./data/test.csv")
print(df_test.shape)
df_test.tail(5)

(526917, 3)

              date  store_nbr  item_nbr
526912  2014-10-26         45       107
526913  2014-10-26         45       108
526914  2014-10-26         45       109
526915  2014-10-26         45       110
526916  2014-10-26         45       111